.main {}

.time_block {
    font-size: 56px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    width: 15%;
    min-width: 250px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-family: 'Open Sans';
    margin: 80px auto;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.2);
}
.tasks__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks__table {
    width: 80%;
    min-width: 1000px;
    height: 100%;
    min-width: 400px;
    background: rgba(33, 31, 48, 0.8);
    box-shadow: rgba(19, 18, 27, 0.7) 0px 0px 55px;
    padding: 15px;
    border-radius: 35px;
}

/* TABLE STYLES */

.table__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(50, 56, 77, 1);
    padding: 15px 20px;
    border-radius: 35px;
    height: 65px;
    margin-bottom: 15px;
    transition: all .6s ease;
}
.table__line.done {
    transition: all .9s ease;
    background: rgba(0, 128, 0, 0.734);
}

.time__column {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 18px;
    flex: 1;
}
.time__column.time__column_task {
    color: #Fff;
}
    .left__part {
        margin-right: 7px;
    }
    .right__part {
        margin-left: 7px;
    }
    .time__inputs, .time__spans {
        text-align: center;
        width: 20px;
        font-size: 18px;
        height: 20px;
        background: none;
        color: white;
        font-family: 'Open Sans';
    }

.name__column {
    flex: 5;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    height: 33px;
    display: flex;
    align-items: center;
}
    .name__inputs {
        margin: 0 50px;
        font-size: 22px;
        color: #fff;
        background: none;
        resize: none;
        font-family: 'Open Sans';
    }
    .task__name {
        margin: 0 50px;
        font-size: 22px;
        font-family: 'Open Sans';
    }
    .inProgress {
        color: #fff;
    }
.buttons__column {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 210px;
}
    button {
        background: none;
    }
    .done__button {}
    .close__button {
        width: 35px
    }
    .add_icon, .delete_icon, .done_icon {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    .edit_icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin: 0 20px;
    }
    .close_icon {
        transform: scale(2);
        transition: transform .6s;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }